@font-face {
  font-family: Poppins-Regular;
  src: url(../../assets/font/Poppins/Poppins-Regular.ttf);  
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../../assets/font/Poppins/Poppins-Medium.ttf);  
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black !important;
  font-family: Poppins-Regular !important;
  color: #fff !important;

}

/* .modal-dialog{
  height:90% !important;
} */

.poppins-medium{
  font-family: Poppins-Medium !important;
}

@media (max-width: 991.98px) { 
 .skill img{
    height: 100px !important;
  }
  #About{
    padding-top:30px;
  }
  #Contact{
    padding-top:30px;
  }
 }

.special{
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 470px;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
}

.jumbotron {
  background-image: url(../../assets/img/background-jumbotron.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: auto -200px;
  color: #fff;
  position: relative;
  padding: 2cm;
}

.jumbotron::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  min-height: 800px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0px;
}

.profile img {
  width: 300px;
}

.header-area h1{
  transform: translate(-25%, -25%);
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .8);
}

.header-area h1 span{
  color: #fff;
}


.error{
  color: rgb(114, 113, 113);
}

.dropdown-item{
  color: #ffffff !important;
}

.dropdown-item:hover{
  color: #000000 !important;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

@media (min-width:768px){
  #About{
    padding-top:30px;
  }
  #Contact{
    padding-top:30px;
  }


}

/* Modal */
/* @mixin modal-fullscreen() {
  padding: 0 !important; // override inline padding-right added from js
  
  .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  
  .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  
  .modal-body {
    overflow-y: auto;
  }
 
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    
    .modal-fullscreen#{$infix} {
      @include modal-fullscreen();
    }
  
  }
} */
