@font-face {
  font-family: Roboto_Mono;
  src: url(../../assets/font/RobotoMono.ttf);
}



body {
  background-color: black !important;
  font-family: Roboto_Mono !important;
  color: #fff !important;

}

@media (max-width: 575.98px) { 
  #about .skill img{
    height: 30px;
  }
 }

.special{
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 470px;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
}

.jumbotron {
  background-image: url(../../assets/img/background-jumbotron.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: auto -200px;
  color: #fff;
  position: relative;
  padding: 2cm;
}

.jumbotron::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  min-height: 800px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0px;
}

.profile img {
  width: 200px;
}

.header-area h1{
  transform: translate(-25%, -25%);
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .8);
}

.header-area h1 span{
  color: #fff;
}


